:root {
	--color-color-picker__controls: #000;
	--fill-color-picker__controls: 0 0;
	--height-color-picker__controls: 10em;
	--shadow-color-picker__dialog: 1px 3px 6px rgba(0, 0, 0, .5);
	--size-color-picker__controls: 12px;
	--stroke-color-picker__controls: #fff;
	--width-color-picker__control--a: 33px;
	--width-color-picker__control--h: 33px;
	--width-color-picker__control--s\/v: 10em
}
.color-picker__control--a,
.color-picker__control--h,
.color-picker__control--s\/v {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background-size: 100% 100%;
	position: relative;
	user-select: none
}
.color-picker__control--a div,
.color-picker__control--h div,
.color-picker__control--s\/v div {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}
.color-picker__control--a,
.color-picker__control--h {
	border-left: 5px solid #fff;
	cursor: default;
	overflow: hidden
}
.color-picker__control--a {
	width: var(--width-color-picker__control--a)
}
.color-picker__control--a div {
	z-index: 2
}
.color-picker__control--a div+div {
	background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), linear-gradient(45deg, #ddd 25%, #fff 25%, #fff 75%, #ddd 75%, #ddd 100%);
	background-position: 0 0, .25em .25em;
	background-size: .5em .5em;
	z-index: 1
}
.color-picker__control--h {
	width: var(--width-color-picker__control--a)
}
.color-picker__control--h div {
	background-image: linear-gradient(to top, red, yellow, lime, cyan, blue, magenta, red);
}
.color-picker__control--s\/v {
	cursor: default;
	overflow: hidden;
	width: 175px;
}
.color-picker__control--s\/v div+div {
	background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0))
}
.color-picker__control--s\/v div+div+div {
	background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0))
}
.color-picker__controls {
	background: var(--fill-color-picker__controls);
	border-radius: 3px;
	border: 5px solid;
	border-color: var(--stroke-color-picker__controls);
	color: var(--color-color-picker__controls);
	display: flex;
	height: 175px;
	overflow: visible
}
@media (max-width: 446px) {
    .color-picker__dialog {
        margin-left: 26px!important
    }
}
.color-picker__dialog {
	box-shadow: var(--shadow-color-picker__dialog);
	left: 0;
	position: absolute;
	top: 0;
	z-index: 9999;
	margin-top: -30px;
    margin-left: 60px;
}
.color-picker__dialog,
.color-picker__dialog *,
.color-picker__dialog ::after,
.color-picker__dialog ::before,
.color-picker__dialog::after,
.color-picker__dialog::before {
	box-sizing: border-box;
	font: inherit
}
.color-picker__cursor {
	border-color: inherit;
	color: inherit;
	font: inherit;
	font-size: var(--size-color-picker__controls)
}
.color-picker__cursor--a,
.color-picker__cursor--h {
	display: block;
	height: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
	margin-top: 1px;
}
.color-picker__cursor--a::before,
.color-picker__cursor--h::before {
	border: 1px solid #000;
    box-shadow: 0 0 0 2px #fff;
    content: "";
    position: absolute;
	height: 5px;
    left: 0;
    right: 0;
    top: 0;
}
.color-picker__cursor--s\/v {
	display: block;
	height: .75em;
	position: absolute;
	right: -.375em;
	top: -.375em;
	width: .75em;
	z-index: 2
}
.color-picker__cursor--s\/v::before {
    content: "";
	display: block;
    border: 1px solid #000;
    box-shadow: 0 0 0 2px #fff;
    position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 4px;
	left: 0;
	right: 0;
	top: 0
}
.color-picker__dialog:before {
    border-bottom: 7px solid rgb(255,255,255);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: -7px;
}
.color-picker {
    display: inline-block;
    font-size: 1rem;
    position: relative;
    width: 100%;
    max-width: 330px;
}
.color-picker-box {
    bottom: 0;
    cursor: -webkit-grab;
    cursor: grab;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.color-picker-box-top {
    background-color: var(--color);
    border: 1px solid #484848;
    border-radius: 2px;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    width: 25px;
}
.color-picker-box-mask {
    height: 100%;
    width: 100%;
}
.color-picker .color-picker-box-mask.medium-indicator {
    background-image: linear-gradient(135deg,transparent 1.45px,#606060 0,#606060 2.9px,transparent 0,transparent 4.35px,#606060 0,#606060 5.8px,transparent 0);
}
.form-control {
    background-clip: padding-box;
    background-color: #1f1f1f;
    border: 1px solid #484848;
    border-radius: 0.25rem;
    color: #ddd;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    width: 100%;
}
.color-picker-input {
    font-family: monospace;
    font-size: 13px;
    padding-left: 35px;
    padding-right: 40px;
    width: 100%!important;
    outline: none;
}
.color-picker-chevron {
    color: #9c9c9c!important;
    height: 100%;
    padding: 7px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.fa-fw {
    text-align: center;
    width: 1.25em;
}
.svg-inline--fa.fa-fw {
    width: 1.25em;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.color-picker__dialog--no-alpha .color-picker__control--a {
	display: none;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;
}
.form-group {
    margin-bottom: 1rem;
}
.col-form-label {
    font-size: inherit;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 6.25px 0;
}
label {
	font-weight: 700;
}
@media (min-width: 446px) {
	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.col-sm-4 {
		width: 33.33333%;
	}
	.col-sm-8 {
		width: 66.66667%;
	}
}
hr {
    border: 0;
    border-top: 1px solid #555;
    color: inherit;
    margin: 16px 0;
    opacity: 1;
}
.my-2 {
    margin-bottom: 8px!important;
    margin-top: 8px!important;
}